<div class="row">
  <div *ngFor="let car of cars" class="col-md-3 p-1">
    <div class="card">
      <img
        [src]="car.imageUrl"
        class="card-img-top"
        alt="{{ car.model.brand.name }} {{ car.model.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">
          {{ car.model.brand.name }} {{ car.model.name }}
        </h5>
        <p class="card-text">
          {{ car.dailyPrice }}
        </p>
        <a class="btn btn-primary">Rent</a>
      </div>
    </div>
  </div>
</div>
