<!-- List -->
<ul class="list-group">
  <li class="list-group-item">
    <input
      class="form-control"
      type="search"
      placeholder="Search"
      aria-label="Search"
      [(ngModel)]="searchText"
      (keyup)="onBrandSearch($event)"
    />
  </li>
  <li
    (click)="onBrandClick(null)"
    class="list-group-item"
    [ngClass]="{ active: selectedBrandId === null }"
    [ariaCurrent]="selectedBrandId === null"
  >
    All
  </li>
  <ng-template [ngIf]="brandsList">
    <!--
      ng-template'ler sanal template'lerdir. İhtiyaç anında kullanılması için referans olarak kullanılabilir.
     -->
    <li
      *ngFor="let brand of brandsList.items"
      (click)="onBrandClick(brand.id)"
      class="list-group-item"
      [ngClass]="{ active: selectedBrandId === brand.id }"
      [ariaCurrent]="selectedBrandId === null"
    >
      {{ brand.name }}
    </li>
  </ng-template>
  <!-- * ile başlayan directive'ler yapısal directive'lerdir, örn. *ngFor gibi. Dolayısıyla bir element sadece bir yapısal directive kullanılabilir. -->
  <!-- Structural Directive'ler ise ilgili elementin render işlemine müdahale eden veya yöneten directive'lerdir. -->
</ul>
<!-- Lazy loading -->
<button
  *ngIf="brandsList"
  (click)="onViewMoreButtonClicked()"
  class="btn border-0"
  [ngClass]="{ disabled: !brandsList.hasNextPage }"
  [disabled]="!brandsList.hasNextPage"
>
  View more
</button>
